<section class="post-form-design">
  <h2 class="sign-in-title" >Sign In</h2>
  {{email-input email=credentials.email}}
  {{password-input password=credentials.password}}

  <button type="submit" class="btn btn-primary" {{action "submit"}}>
    Sign In
  </button>

  <button id="user-input-btn" class="btn btn-default" {{action "reset"}}>
    Cancel
  </button>
</section>
