@import 'bootstrap';
@import 'bootstrap/theme';

// NAVBAR STYLES
.whole-nav {
  background: #1A89D7;
  // border-color: #003459;
}

.nav-buttons {
  color: #ffffff;
}
// NAVBAR STYLES END

// PAGE STYLINGS
.page-body {
  background: url('../assets/images/type-one-image.png') 100%;
  background-color: #000000;
}

// HOME PAGE
.site-name {
  color: #ffffff;
  font-family: 'Caveat Brush', cursive;
  font-size: 100px;
}

.section-design {
  background-color: #5C5C5C;
  border: 3px dotted white;
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  margin: 30px auto;
  // margin: 10px 0 30px 0;
  max-width: 750px
  // background-image: url('type-one-diabetes.png');
}

.title-O {
  color: #1A89D7;
}

.site-descript {
  font-size: 25px;
  // padding: 30px 150px;
  color: #ffffff;
}
// HOME PAGE END

// COMMUNITY PAGE
#create-button {
  margin-bottom: 20px;
  background: #146DAA;
  border-color: #fff;
  color: #fff;
  font-size: 22px;
  height: 40px;
  width: 215px;
  box-shadow: 0px 0px 20px white;
}

#edit-button {
  background: #81C934;
  border-color: #5B8266;
  color: #fff;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  height: 40px;
  width: 55px;
}

#delete-button {
  background: #D90429;
  border-color: #7D1128;
  border-radius: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  height: 40px;
  width: 40px;
}

.community-title {
  color: #ffffff;
  font-family: 'Caveat Brush', cursive;
  font-size: 100px;
  margin-bottom: 40px;
}

table {
  border: 2px solid white;
  background-color: #1A89D7;
  margin: 20px auto;
  min-height: 155px;
  max-width: 750px;
}

td {
  border: 2px solid white;
  padding: 0.5rem;
  width: 620px;
  max-width: 620px;
  position: relative;
}

// Delete button on user posts
td button {
  position: absolute;
  right: 5px;
  top: 10px;
}

td #edit-button {
  left: 5px;
  position: absolute;
  top: 10px;
}

.button-section {
  min-width: 150px;
}

.post-title {
  color: #ffffff;
  font-size: 35px;
  margin: 55px auto;
  max-width: 600px;
  overflow-wrap: break-word;
}

// CREATE AND EDIT POST FORM PAGE
.post-form-design {
  background-color: #5C5C5C;
  border: 3px dotted white;
  border-radius: 15px;
  color: #555555;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  margin: 30px auto;
  max-width: 750px;
}

.create-form {
  margin: 20px auto;
  max-width: 660px;
  // line-height: 10px;
}

.create-form .text-area {
  max-width: 660px;
}

.edit-form {
  margin: 20px auto;
  max-width: 660px;
}

.edit-form .text-area {
  max-width: 660px;
  font-color: #000000;
}

#create-btn {
  margin-bottom: 20px;
  margin-top: 20px;
  background: #146DAA;
  border-color: #fff;
  color: #fff;
  font-size: 22px;
  height: 40px;
  width: 215px;
  box-shadow: 0px 0px 20px white;
}

.pw-form {
  max-width: 450px;
  margin: 0 auto;
  line-height: 45px;
}

.pw-title {
  color: #ffffff;
}

.label {
  font-size: 18px;
}

.sign-in-title {
  color: #ffffff;
}

#user-input-btn {
  margin: 20px 0;
}

// POST PAGE
.post-design {
  background-color: #5C5C5C;
  border: 3px dotted white;
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  margin: 30px auto;
  // margin: 10px 0 30px 0;
  max-width: 750px;
  position: relative;
}

.post-content {
  font-size: 20px;
  margin: 25px auto;
  max-width: 600px;
  overflow-wrap: break-word;
}

.post-design button {
  position: absolute;
  right: 5px;
  top: 5px;
}

// COMMENTS
.comment-design {
  background-color: #1A89D7;
  border: 3px dotted white;
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 3px #000000;
  margin: 30px auto;
  // margin: 10px 0 30px 0;
  max-width: 750px;
  min-height: 55px;
  position: relative;
}

.comment-design button {
    position: absolute;
    right: 5px;
    top: 5px;
}

.comment-form {
  margin: 0 auto;
  max-width: 750px;
}

.comment {
  font-size: 20px;
  margin-right: 85px;
  margin-left: 85px;
  max-width: 600px;
  overflow-wrap: break-word;
}

// MEDIA QUERIES
@media only screen
   and (max-width : 321px) {
   .nav-buttons {
     font-size: 2px;
   }

   .site-name {
     font-size: 85px;
   }

   .community-title {
     font-size: 65px;
   }

   td {
     min-width:225px;
     max-width: 225px;
   }
}

@media only screen
   and (max-width : 361px) {
   .site-name {
     font-size: 90px;
   }

   .community-title {
     font-size: 65px;
   }
}

@media only screen
   and (max-width : 450px) {
   .community-title {
     font-size: 60px;
   }
}

@media only screen
   and (max-width : 560px) {
   td {
     max-width: 350px;
     min-width: 30px;
   }
}

@media only screen
   and (max-width : 685px) {
   td {
     max-width: 500px;
   }
}
