<section class="section-design">
  <h1 class="site-name">type<span class="title-O">O</span>ne</h1>

  <p class="site-descript">Create a thread and share your experiences here</p>

{{!-- <button type="button" id="creation-button" {{action 'goCreate'}}>Post to Community</button> --}}
  <button type="button" id="create-button" class="btn btn-success btn-xs" {{action 'goCreate'}}>Post to Community</button>
</section>


{{!-- invokes post.title card --}}
<section class="section-design">
  <h1 class="community-title">C<span class="title-O">O</span>mmunity P<span class="title-O">O</span>sts</h1>

  {{#each model as |post|}}
    {{typeone-forum/card post=post
                        delete='deletePosts'
                        edit='editPosts'
                        }}
  {{/each}}

</section>
