<section class="section-design">
  <h1 class="site-name">Welcome to type<span class="title-O">O</span>ne!</h1>
  <p class="site-descript">This is a place for type<span class="title-O">O</span>ne diabetics to share their stories and experiences.</p>
</section>
