<section class="create-post-design">
  <form class="create-form" {{action "createNewPost" on="submit"}}>
    {{input value=newPost.title placeholder="Title..." type="text" cols=25 rows=10}}

    {{textarea value=newPost.content class="text-area" placeholder="Description..." cols="137" rows="6"}}

    <button type="submit" id="create-btn" class="btn btn-success btn-xs">Post to Community</button>

    {{!-- <button type="submit" class="btn btn-success">Create</button> --}}
  </form>
</section>
