<label class="label" for="password-confirmation">Passw<span class="title-O">O</span>rd C<span class="title-O">O</span>nfirmati<span class="title-O">O</span>n</label>
{{input type="password"
        id="password-confirmation"
        placeholder="Password Confirmation"
        value=password}}
