<ul>
  {{#each post.comments as |comment|}}
    {{typeone-forum/comment comment=comment}}
  {{/each}}
</ul>

<form {{action 'addComment' on='submit'}}>
  {{input placeholder='Add comment'
            class='input-group form-control'
            value=newComment.body
      }}
</form>
