
<section>
  <form {{action "save" on="submit"}}>
    {{input value=post.title placeholder="Update your title..." type="text" cols=25 rows=10}}

    {{textarea value=post.content placeholder="Update your description..." cols="137" rows="6"}}

    <button type="submit" class="btn btn-success">Update</button>
  </form>
</section>
