
<section class="post-form-design">
  <form class="edit-form" {{action "save" on="submit"}}>
    {{input value=post.title placeholder="Update your title..." type="text" cols=25 rows=10}}

    {{textarea class="text-area" value=post.content placeholder="Update your description..." type="text" cols="137" rows="6"}}

    <button type="submit" id="create-btn">Update Post</button>
  </form>
</section>
