<section class="post-form-design">
  <h2 class="pw-title">Change Passw<span class="title-O">O</span>rd</h2>
  <div class="pw-form">
    <label class="label" for="previous"><span class="title-O">O</span>ld Passw<span class="title-O">O</span>rd</label>
    {{input type="password"
            class="form-control"
            id="previous"
            placeholder="Old password"
            value=passwords.previous}}
  </div>

  <div class="pw-form">
    <label class="label" for="next">New Passw<span class="title-O">O</span>rd</label>
    {{input type="password"
            class="form-control"
            id="next"
            placeholder="New password"
            value=passwords.next}}
  </div>

  <button type="submit" id="user-input-btn" class="btn btn-primary" {{action "submit"}}>
    Change Password
  </button>

  <button class="btn btn-default" {{action "reset"}}>
    Cancel
  </button>
</section>
