<section class="comment-design">
  <p class="comment">{{comment.body}}</p>

  {{#if comment.editable}}
    <button id="delete-button" class="btn btn-primary btn-sx" {{ action 'deleteComment'}}>
      X
    </button>
  {{/if}}
</section>
