<table>
  <tbody>
    <tr>
      <td>
        {{#link-to 'post' post}}
          <h1 class="post-title">{{post.title}}</h1>
        {{/link-to}}
      
        {{#if post.editable}}
        <button id="delete-button" class="btn btn-primary btn-sx" {{ action 'delete'}}>
          X
        </button>

        {{/if}}

        {{#if post.editable}}
          <button id="edit-button" class="btn btn-primary btn-sx" {{ action 'edit'}}>
            Edit
          </button>
        {{/if}}
      </td>
    </tr>
  </tbody>
</table>
