<button type="button" class="close" {{action 'delete'}} data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

{{#link-to 'post' post}}
  <h3 class="post-header">{{post.title}}</h3>
{{/link-to}}

<button class="btn btn-sx btn-primary" {{ action 'edit'}}>
  Edit
</button>
